<!--suppress ALL -->
<ng-container *ngIf="authService.userData as user">
  <mat-toolbar class="mat-elevation-z3">
    <button mat-icon-button [matMenuTriggerFor]="userMenu" class="image-button">
      <img alt="User photo" class="user-photo" src="{{user.photoURL}}"></button>
    <mat-menu #userMenu="matMenu">
      <p class="user-name">{{user.displayName}}</p>
      <button mat-menu-item (click)="authService.signOut()">Sign out</button>
    </mat-menu>
    <div *ngIf="playerStats" class="total-score">
      Poäng: <span counto
                       [step]="10"
                       [countTo]="playerStats.points"
                       [countFrom]="previousScore"
                       [duration]="1" (countoEnd)="onCountoEnd()"
                       (countoChange)="intermediate = $event">
      {{intermediate | round}}
    </span>
      <span class="on-fire"
            *ngIf="quizState.reward == 10
            && previousScore == playerStats.points
            && quizState.guessWasCorrect" @fade-in>
        🔥
      </span>
    </div>
  </mat-toolbar>

  <ng-container *ngIf="stateSynced">

    <ng-container *ngIf="stateSynced && quizState.haveGuessed; then resultBlock else guessBlock"></ng-container>

    <ng-template #guessBlock>

      <ng-container
        *ngIf="stateSynced && quizRunning && generalStateQuizRunning; then quizRunningBlock else quizPausedBlock">
      </ng-container>

      <ng-template #quizRunningBlock>
        <mat-card *ngIf="responseOptions && responseOptions.length === 3"
                  class="music-quiz-question-card mat-elevation-z2">
          <img alt="Decorative image" mat-card-image class="header-image"
               src="../../assets/music-quiz/header-images/{{randomImageIndex}}.jpg">
          <mat-card-content>
            <ng-container *ngIf="guessable; then clueBlock else unguessableBlock"></ng-container>
            <ng-template #clueBlock>
              <ng-container *ngIf="customQuestion">
                {{customQuestion.text}}
                <p class="custom-question-points">Rätt svar ger <span
                  class="reward-point">{{adjustReward(currentTrack.reward)}}</span> poäng</p>
              </ng-container>
              <ng-container *ngIf="!customQuestion">
                <ng-container *ngIf="currentTrack.reward > 4; then hardGuess else easyGuess"></ng-container>
              </ng-container>
              <ng-template #hardGuess>
                För <span class="reward-point">{{adjustReward(currentTrack.reward)}}</span> poäng: Vilken artist/grupp
                har gjort låten
                som spelas?
              </ng-template>
              <ng-template #easyGuess>
                Låten heter <span class="name">{{currentTrack.name}}</span>
                <div class="reward-text">För <span class="reward-point">{{adjustReward(currentTrack.reward)}}</span>
                  poäng: Vad heter
                  artisten/gruppen?
                </div>
              </ng-template>
            </ng-template>
            <ng-template #unguessableBlock>
              <p>Det här är <span class="name">{{currentTrack.name}}</span> med <span
                class="name">{{currentTrack.artist_name}}</span>.
              </p>
              <p>Tyvärr gav inte Spotify tillräckligt med information om artisten för att ge rimliga
                svarsalternativ.</p>
              <p>Nästa låt kommer säkert funka bättre. Så keep your pants on shawty!</p>
            </ng-template>
          </mat-card-content>
        </mat-card>
        <mat-card *ngFor="let responseOption of responseOptions" class="quiz-answer-card mat-elevation-z2" mat-ripple
                  (click)="guess(responseOption)"
                  @fold-out>
          <mat-card-content>
            {{responseOption.response}}
            <div class="multiple-artist-annotation" *ngIf="!customQuestion && currentTrack.artist_count > 1">(med flera)</div>
          </mat-card-content>
        </mat-card>
      </ng-template>

      <ng-template #quizPausedBlock>
        <mat-card class="music-quiz-paused" @fade-in>
          <mat-card-content>
            <img alt="Pause image" class="decoration-image" src="../../assets/music-quiz/pause.jpg">
            <h2>Tävlingen är för tillfället pausad.</h2>
          </mat-card-content>
        </mat-card>
      </ng-template>

    </ng-template>

    <ng-template #resultBlock>
      <div [@.disabled]="!quizState.haveGuessed">
        <mat-card *ngIf="currentArtistInformation && currentTrack" class="quiz-response"
                  [ngClass]="{'incorrect': !quizState.guessWasCorrect, 'correct': quizState.guessWasCorrect}"
                  @fold>
          <ng-container
            *ngIf="quizState.guessWasCorrect; then guessWasCorrectBlock else guessWasIncorrectBlock"></ng-container>

          <ng-template #guessWasCorrectBlock>
            <h1>Snyggt jobbat!</h1>
            <p *ngIf="customQuestion">"{{customQuestionCorrectAnswer}}" är rätt!</p>
            <div class="decoration-image" mat-card-image appBackgroundImage
                 [artistImage]="currentArtistInformation.images[0]"></div>
            <mat-card-content>
              <span *ngIf="customQuestion">Och det här är </span><span class="name">{{currentTrack.artist_name}}</span>
              med <span
              class="name">{{currentTrack.name}}</span>
            </mat-card-content>
          </ng-template>

          <ng-template #guessWasIncorrectBlock>
            <h1>Inte riktigt…</h1>
            <p *ngIf="customQuestion">"{{customQuestionCorrectAnswer}}" var svaret</p>
            <div class="decoration-image" mat-card-image appBackgroundImage
                 [artistImage]="currentArtistInformation.images[0]"></div>
            <mat-card-content>
              Det här är <span class="name">{{currentTrack.artist_name}}</span> (med <span
              class="name">{{currentTrack.name}}</span>)
            </mat-card-content>
          </ng-template>

        </mat-card>
        <mat-card class="track-feedback" *ngIf="showFeedback && !quizState.haveLiked && generalStateQuizRunning" @delayed-fold>
          <mat-card-content>
            <h3 class="track-feedback-label">Vad tycker du om låten?</h3>
            <mat-card-actions>
              <button mat-flat-button (click)="likeTrack(true)">
                <mat-icon aria-label="Jag gillart">thumb_up</mat-icon>
                <span>&nbsp;Bra skit!</span>
              </button>
              <span>&nbsp;</span>
              <button mat-flat-button (click)="likeTrack(false)">
                <mat-icon aria-label="Fy fan">thumb_down</mat-icon>
                <span>&nbsp;Det är skit!</span>
              </button>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-template>
  </ng-container>
</ng-container>
