.user-name {
  padding-left: 16px;
  padding-right: 16px;
  font-weight: bold;
  opacity: 0.6;
}

.multiple-artist-annotation {
  opacity: 0.6;
  display: inline;
}

.music-quiz-question-card, .quiz-answer-card, .quiz-response, .track-feedback, .music-quiz-paused {
  margin: 12px;
}

.incorrect {
  background-color: rgba(214, 31, 6, 0.9);
}

.music-quiz-question-card, .correct, .music-quiz-paused {
  background-color: rgba(211, 9, 211, 0.9);
  color: #ffffff;
}

.quiz-answer-card {
  background-color: rgba(9, 28, 170, 0.9);
  color: #ffffff;
}

.track-feedback {
  background-color: rgba(255, 255, 255, 0.9);
}

.header-image {
  opacity: 0.8;
}

.name {
  font-weight: bold;
  font-size: 1.15em;
}

.decoration-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.quiz-response, .track-feedback, .music-quiz-paused {
  text-align: center;
}

.track-feedback-label {
  padding-top: 8px;
}

.total-score {
  color: #ffffff;
  margin-left: 24px;
}

.music-quiz-paused {
  img {
    margin-bottom: 16px;
    margin-top: 24px;
  }
  h2 {
    margin-bottom: 8px;
  }
}

@media only screen and (max-height: 568px) {
  .decoration-image {
    height: 160px;
    width: 160px;
  }
}
