.user-name {
  padding-left: 16px;
  padding-right: 16px;
  font-weight: bold;
  opacity: 0.6;
}

.multiple-artist-annotation {
  opacity: 0.6;
  display: inline;
}

.music-quiz-question-card, .quiz-answer-card, .quiz-response, .track-feedback, .music-quiz-paused {
  margin: 12px;
}

.incorrect {
  background-color: rgba(214, 31, 6, 0.5);
  color: rgb(54, 10, 3);
}

.music-quiz-question-card, .correct, .music-quiz-paused {
  background-color: rgba(211, 9, 211, 0.85);
  color: rgb(255, 210, 255);
}

.music-quiz-question-card {
  mat-card-content {
    font-size: 1.2em;
  }
}

.quiz-answer-card {
  background-color: rgba(9, 28, 170, 0.9);
  color: rgb(194, 213, 255);
  height: 18px;
}

.track-feedback {
  background-color: rgba(255, 160, 255, 0.75);
  color: rgb(111, 0, 111);
  button {
    background-color: rgb(111, 0, 111);
    color: rgb(255, 210, 255);
  }
}

.header-image {
  opacity: 0.8;
  max-height: 200px;
  overflow: hidden;
}

.name {
  font-weight: bold;
  font-size: 1.15em;
}

.decoration-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.quiz-response, .track-feedback, .music-quiz-paused {
  text-align: center;
}

.track-feedback-label {
  padding-top: 8px;
}

.total-score {
  color: rgb(255, 210, 255);
  margin-left: 24px;
  padding-top: 4px;
}

.music-quiz-paused {
  img {
    margin-bottom: 16px;
    margin-top: 24px;
  }
  h2 {
    margin-bottom: 8px;
  }
}

.custom-question-points {
  font-size: 0.8em;
}

@media only screen and (max-height: 568px) {
  .decoration-image {
    height: 160px;
    width: 160px;
  }
}
